/* ------- MENU -------*/
.hlavniMenu {
    height: 800px; 
    background-image: url('../assets/hlMenu.png');
    background-repeat: no-repeat; 
    background-position: left top;
    background-attachment: scroll;
}
.menu {
    position: absolute;
    left: 100pt;
    top: 200pt;
    display: grid;
}
.menu button {
    padding: 5pt;
    margin: 5pt;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-shadow: -1px 0px 5px rgb(255, 4, 0);
    background-color: rgb(27, 27, 27);
    cursor: pointer;
}
.menu button:hover {
    color: red;
}
#novaHraForm {
    position: absolute;
    left: 200pt;
    top: 0pt;
    display: none;
}
input, select {
    height: 20pt;
    background-color: rgb(102, 72, 47);
    cursor: pointer;
}
#ok {
    background-color: rgb(107, 76, 50);

}
#nacistHruForm {
    position: absolute;
    border: 3px solid black;
    height: 50pt;
    width: 200pt;
    left: 200pt;
    top: 0pt;
    cursor: pointer;
    display: none;
}
#ulozText {
    margin-left: 10pt;
    margin-right: 5pt;
    margin-top: 16pt;
    font-size: 1.2em;
    font-weight: 700;
}
h1 {
    position: absolute;
    left: 50pt;
    top: 50pt;
    font-family: cursive;
    font-size: 70px;
    text-decoration: overline;
    text-shadow: 8px 2px 6px rgb(255, 4, 0);
}
/* ------- MENU -------*/

/* ------- HRA -------*/
.hra {
    height: 800px; 
    background-image: url('../assets/hraPlan.png');
    background-repeat: no-repeat; 
    background-position: left top;
    background-attachment: scroll;
}
#jmeno {
    position: absolute;
    left: 50pt;
    top: 50pt;
    font-size: 1.5em;
}
#rasa {
    position: absolute;
    left: 50pt;
    top: 100pt;
    font-size: 1.5em;
}
#zivot {
    position: absolute;
    left: 80pt;
    top: 130pt;
    font-size: 2em;
    color: rgb(180, 0, 0);
}
#mana {
    position: absolute;
    left: 80pt;
    top: 165pt;
    font-size: 2em;
    color: rgb(0, 126, 148);
}
#poskozeni {
    position: absolute;
    left: 80pt;
    top: 210pt;
    font-size: 2em;
    color: rgb(51, 54, 54);
}
#zlato {
    position: absolute;
    left: 85pt;
    top: 302pt;
    font-size: 2em;
    color: rgb(194, 155, 26);
}
.hra #inventar {
    position: absolute;
    height: 40pt;
    width: 40pt;
    top: 280pt;
    left: 35pt;
    cursor: pointer;
}
.hra #obchodnik {
    position: absolute;
    height: 120pt;
    width: 100pt;
    top: 135pt;
    left: 460pt;
    cursor: pointer;
}
.hra #vestec {
    position: absolute;
    height: 120pt;
    width: 100pt;
    top: 205pt;
    left: 230pt;
    cursor: pointer;
}
.hra #vyprava {
    position: absolute;
    height: 60pt;
    width: 120pt;
    top: 60pt;
    left: 360pt;
    cursor: pointer;
}
.hra #konec {
    position: absolute;
    top: 340pt;
    left: 520pt;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-shadow: -1px 0px 5px rgb(255, 4, 0);
    background-color: rgb(27, 27, 27);
}
.hra #ulozit {
    position: absolute;
    top: 340pt;
    left: 450pt;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-shadow: -1px 0px 5px rgb(255, 4, 0);
    background-color: rgb(27, 27, 27);
}
.hra #konec:hover {
    color: red;
    cursor: pointer;
}
.hra #ulozit:hover {
    color: green;
    cursor: pointer;
}
/* ------- HRA -------*/
/* ------- BOJ -------*/
.boj {
    height: 800px; 
    background-image: url('../assets/hraBoj.png');
    background-repeat: no-repeat; 
    background-position: left top;
    background-attachment: scroll;
}
#urovenM {
    position: absolute;
    left: 485pt;
    top: 56pt;
    font-size: 1.5em;
}
#zivotM {
    position: absolute;
    left: 426pt;
    top: 80pt;
    font-size: 2em;
    color: rgb(180, 0, 0);
}
#poskozeniM {
    position: absolute;
    left: 426pt;
    top: 120pt;
    font-size: 2em;
    color: rgb(51, 54, 54);
}
#utokBtn {
    position: absolute;
    left: 200pt;
    top: 80pt;
    font-size: 2em;
    font-weight: 700;
    background-color: firebrick;
}
#utokBtn:hover {
    cursor: pointer;
    background-color: darkred;
}
#kouzloBtn {
    position: absolute;
    left: 200pt;
    top: 120pt;
    font-size: 2em;
    font-weight: 700;
    background-color: dodgerblue;
}
#kouzloBtn:hover {
    cursor: pointer;
    background-color: mediumblue;
}
#statusBoje {
    position: absolute;
    left: 210pt;
    top: 220pt;
    font-size: 2em;
    font-weight: 700;
    color: firebrick;
    text-shadow: 0px 0px 8px black;
}
/* ------- BOJ -------*/
