/* ------- MENU -------*/
.hlavniMenu {
    height: 800px; 
    background-image: url('../assets/hlMenu.png');
    background-repeat: no-repeat; 
    background-position: left top;
    background-attachment: scroll;
}
#spustit {
    position: absolute;
    left: 160pt;
    top: -55pt;
    height: 100pt;
    width: 100pt;
}
.menu {
    position: absolute;
    left: 100pt;
    top: 200pt;
    display: grid;
}
.menu button {
    padding: 5pt;
    margin: 5pt;
    color: rgb(51, 54, 54);
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(190, 141, 76);
    cursor: pointer;
}
.menu button:hover {
    font-weight: 700;
    color: rgb(151, 151, 151);
    background-color: rgb(117, 89, 51);
}
#novaHraForm {
    position: absolute;
    left: 200pt;
    top: 0pt;
    display: none;
}
input, select {
    height: 20pt;
    background-color: rgb(102, 72, 47);
    cursor: pointer;
}
#ok {
    background-color: rgb(107, 76, 50);

}
#nacistHruForm {
    position: absolute;
    border: 3px solid black;
    height: 50pt;
    width: 200pt;
    left: 200pt;
    top: 0pt;
    cursor: pointer;
    display: none;
}
#ulozText {
    margin-left: 10pt;
    margin-right: 5pt;
    margin-top: 16pt;
    font-size: 1.2em;
    font-weight: 700;
}
h1 {
    position: absolute;
    left: 50pt;
    top: 50pt;
    font-family: cursive;
    font-size: 70px;
    text-decoration: overline;
    text-shadow: 8px 2px 6px rgb(255, 4, 0);
}
/* ------- MENU -------*/

/* ------- HRA -------*/
.hra {
    height: 800px; 
    background-image: url('../assets/hraPlan.png');
    background-repeat: no-repeat; 
    background-position: left top;
    background-attachment: scroll;
}
#jmeno {
    position: absolute;
    left: 50pt;
    top: 50pt;
    font-size: 1.5em;
}
#rasa {
    position: absolute;
    left: 50pt;
    top: 100pt;
    font-size: 1.5em;
}
#zivot {
    position: absolute;
    left: 80pt;
    top: 130pt; /*142*/
    font-size: 2em; /*1.5*/
    color: rgb(180, 0, 0);
}
#mana {
    position: absolute;
    left: 80pt;
    top: 165pt;
    font-size: 2em;
    color: rgb(0, 126, 148);
}
#poskozeni {
    position: absolute;
    left: 80pt;
    top: 210pt; /*222*/
    font-size: 2em; /*1.5*/
    color: rgb(51, 54, 54);
}
#zlato {
    position: absolute;
    left: 85pt;
    top: 302pt;
    font-size: 2em;
    color: rgb(194, 155, 26);
}
.hra #inventar {
    position: absolute;
    height: 40pt;
    width: 40pt;
    top: 280pt;
    left: 35pt;
    cursor: pointer;
}
.hra #inventarLabel {
    position: absolute;
    height: 40pt;
    width: 40pt;
    top: 280pt;
    left: 80pt;
}
.hra #obchodnik {
    position: absolute;
    height: 120pt;
    width: 100pt;
    top: 135pt;
    left: 460pt;
    cursor: pointer;
}
.hra #vestec {
    position: absolute;
    height: 120pt;
    width: 100pt;
    top: 205pt;
    left: 230pt;
    cursor: pointer;
}
.hra #vyprava {
    position: absolute;
    height: 60pt;
    width: 120pt;
    top: 60pt;
    left: 360pt;
    cursor: pointer;
}
.hra #konec {
    position: absolute;
    top: 340pt;
    left: 520pt;
    color: rgb(51, 54, 54);
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(190, 141, 76);
    cursor: pointer;
}
.hra #ulozit {
    position: absolute;
    top: 340pt;
    left: 450pt;
    color: rgb(51, 54, 54);
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(190, 141, 76);
    cursor: pointer;
}
.hra #konec:hover {
    font-weight: 700;
    color: rgb(151, 151, 151);
    background-color: rgb(117, 89, 51);
}
.hra #ulozit:hover {
    font-weight: 700;
    color: rgb(151, 151, 151);
    background-color: rgb(117, 89, 51);}
/* ------- HRA -------*/
/* ------- BOJ -------*/
.boj {
    height: 800px; 
    background-image: url('../assets/hraBoj.png');
    background-repeat: no-repeat; 
    background-position: left top;
    background-attachment: scroll;
}
#urovenM {
    position: absolute;
    left: 485pt;
    top: 56pt;
    font-size: 1.5em;
}
#zivotM {
    position: absolute;
    left: 426pt;
    top: 80pt;
    font-size: 2em;
    color: rgb(180, 0, 0);
}
#poskozeniM {
    position: absolute;
    left: 426pt;
    top: 120pt; /*130*/
    font-size: 2em; /*1.5*/
    color: rgb(51, 54, 54);
}
#utokBtn {
    position: absolute;
    left: 200pt;
    top: 80pt;
    font-size: 2em;
    font-weight: 700;
    background-color: firebrick;
}
#utokBtn:hover {
    cursor: pointer;
    background-color: darkred;
}
#kouzloBtn {
    position: absolute;
    left: 200pt;
    top: 120pt;
    font-size: 2em;
    font-weight: 700;
    background-color: dodgerblue;
}
#kouzloBtn:hover {
    cursor: pointer;
    background-color: mediumblue;
}
#statusBoje {
    position: absolute;
    left: 210pt;
    top: 220pt;
    font-size: 2em;
    font-weight: 700;
    color: firebrick;
    text-shadow: 0px 0px 8px black;
}
#kouzloVybrat {
    position: absolute;
    left: 200pt;
    top: 160pt;
    max-width: 90pt;
    font-weight: bold;
    background-color: lightblue;
}
#lektvary p {
    position: absolute;
    margin-left: 18pt;
    font-size: 1.3em;
    font-weight: 700;
    color: red;
    cursor:pointer;
    height: 17pt;
    width: 9pt;
}
#malyLektvZ {
    left: 184pt; 
    top: 35pt;
}
#stredniLektvZ {
    left: 205pt; 
    top: 35pt;
}
#velkyLektvZ {
    left: 229pt; 
    top: 35pt;
}
#lektvZ {
    left: 256pt; 
    top: 35pt;
}
#malyLektvM {
    left: 287pt; 
    top: 35pt;
}
#stredniLektvM {
    left: 306pt; 
    top: 35pt;
}
#velkyLektvM {
    left: 330pt; 
    top: 35pt;
}
#lektvM {
    left: 358pt; 
    top: 35pt;
}
/* ------- BOJ -------*/
/* ------- OBCHOD -------*/
.obchod {
    height: 800px; 
    background-image: url('../assets/hraObchod.png');
    background-repeat: no-repeat; 
    background-position: left top;
    background-attachment: scroll;
}
.obchod select {
    max-width: 220pt;
}
#predmetySkupina {
    position: absolute;
    left: 340pt;
    top: 60pt;
}
#mujInventar {
    position: absolute;
    left: 50pt;
    top: 80pt;
}
#odejitBtn {
    position: absolute;
    top: 335pt;
    left: 520pt;
    color: rgb(51, 54, 54);
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(190, 141, 76);
    cursor: pointer;
}
#odejitBtn:hover {
    font-weight: 700;
    color: rgb(151, 151, 151);
    background-color: rgb(117, 89, 51);
}
.obchod p {margin-bottom: 2pt;}
.obchod button {
    font-weight: 700;
    color: rgb(51, 54, 54);
    background-color: rgb(190, 141, 76);
    cursor: pointer;
}
.obchod button:hover {
    font-weight: 700;
    color: rgb(151, 151, 151);
    background-color: rgb(117, 89, 51);
}
#status {
    position: absolute;
    left: 100pt;
    top: 230pt;
    color: firebrick;
    font-size: 1.5em;
    font-weight: bolder;
    background-color: rgb(197, 124, 124);
    border: 2px solid red;
    display: none;
}
.status {
    color:forestgreen !important;
    background-color: rgb(157, 184, 157) !important;
    border: 2px solid rgb(0, 68, 0) !important;
}
/* ------- OBCHOD -------*/
/* ------- INVENTÁŘ -------*/
.inventar {
    height: 800px; 
    background-image: url('../assets/hraInventar.png');
    background-repeat: no-repeat; 
    background-position: left top;
    background-attachment: scroll;
}
#seznamPredmetu {
    position: absolute;
    top: 50pt;
    left: 170pt;
    list-style:none;
}
.listWrapper {
    max-height:250pt;
    overflow-y:auto;
}
.inventar li {
    margin-right: 20pt;
}
.inventar #odejitBtn {
    position: absolute;
    top: 335pt;
    left: 450pt;
}
#vybavit {
    font-weight: 700;
    color: rgb(51, 54, 54);
    background-color: rgb(190, 141, 76);
    cursor: pointer;
}
#vybavit:hover {
    font-weight: 700;
    color: rgb(151, 151, 151);
    background-color: rgb(117, 89, 51);
}
.inventar #predmetVybrat {
    max-width: 120pt;
}
/* ------- INVENTÁŘ -------*/
/* ------- VĚŠTEC -------*/
.vestec {
    height: 800px; 
    background-image: url('../assets/hraVestec.png');
    background-repeat: no-repeat; 
    background-position: left top;
    background-attachment: scroll;
}
.vestec #odejitBtn {
    position: absolute;
    top: 350pt;
    left: 530pt;
}
#vypisVyhody {
    position: absolute;
    top: 20pt;
    left: 35pt;
    color: firebrick;
    font-size: 1.5em;
    font-weight: 600;
}
#vyhodaBtn {
    position: absolute;
    top: 180pt;
    left: 60pt;
    height: 60pt;
    width: 60pt;
    border: 3px solid indigo;
    background-color: fuchsia;
    font-size: 1.1em;
    font-weight: 700;
    cursor: pointer;
}
#vyhodaBtn:hover {
    background-color: indigo;
    color: white;
    text-shadow: 0px 0px 7px rgba(255, 0, 255, 1);
}
/* ------- VĚŠTEC -------*/
