.hlavniMenu {
    height: 800px; 
    background-image: url('../assets/hlMenu.png');
    background-repeat: no-repeat; 
    background-position: left top;
    background-attachment: fixed;
}
.menu {
    position: fixed;
    right: 80%;
    top: 200px;
    display: grid;
    
}
.menu button {
    padding: 5pt;
    margin: 5pt;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-shadow: -1px 0px 5px rgb(255, 4, 0);
    background-color: rgb(27, 27, 27);
}
.menu button:hover {
    color: red;
}
h1 {
    position: fixed;
    right: 60%;
    top: 70px;
    font-family: cursive;
    font-size: 70px;
    text-decoration: overline;
    text-shadow: 8px 2px 6px rgb(255, 4, 0);
}